
body{
    background-color: #edf2f4;
}
h1{
    font-size: 60px;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.28);
}
.patient-card>div>h2>span{
    font-size: 40px;
    text-shadow: 3px 2px 0px rgba(45, 61, 47, 0.352);
}
.patient-card>div>h2{
    display: flex;
    justify-content: space-between;
}
.patient-card>div>h2>div{
    display: inline;
}
.patient-card>div>h2>div>a,.patient-card>div>h2>div>button{
    width: 90px;
    margin: 0.3em;
}
.patient-card{
    width: 80%;
    background-color:  white;
    border: 2px solid white;
    padding: 1em;
    border-radius: 20px;
    margin-bottom: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition-property: border;
    transition: 0.3s;
}
.patient-card div img{
    margin: 1em 3em;
    width: 150px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}
.patient-card:hover{
    border: 2px solid rgba(118, 214, 127, 0.831);
    transform: scale(1.01);
}
.patient-detail{
    width: 70%;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    display: flex;
    border: 2px solid  rgba(118, 214, 127, 0.359);
    align-items: center;
    gap: 10px;
    font-size: 17px;
    color: #4d4d4d;
    /* border: none; */
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 190px;
    z-index: 1;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid  rgba(118, 214, 127, 0.359);
    transition: 0.3s;
  }
  
  .show-dropdown {
    display: block;
  }
  
  /* Styles for nested dropdowns */
  .nested-dropdown {
    position: relative;
  }
  
  .nested-dropdown-content {
    display: none;
    border: 2px solid  rgba(118, 214, 127, 0.359);
    margin: 4px;
    position: absolute;
    left: 100%;
    top: 0;
    transition: 0.3s;
    background-color: #ffffff;
    min-width: 100px;
    z-index: 1;
    border-radius: 0 10px 10px 10px;
  }
  
  .nested-dropdown:hover .nested-dropdown-content {
    display: block;
  }
  
  .dropdown-content a,
  .nested-dropdown-content a {
    color: #70747c;
    padding: 15px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
  }
  
  .material-symbols-outlined {
    color: #70747c;
  }
  
  .dropdown-content a:hover,
  .nested-dropdown-content a:hover {
    color: rgb(118, 214, 127);
    background-color: #f5fbf5;
  }
  
  .dropdown-content a:hover span,
  .nested-dropdown-content a:hover span ,.pagination-div>ul>li>a:hover{
    color: rgb(118, 214, 127);
  }
.dropdown-btn:hover,.dropdown-content:hover,
.nested-dropdown-content:hover{
  border: 2px solid rgba(118, 214, 127, 0.831);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dropdown>a{
  text-decoration: none;
}

.pagination-div>ul>li>a{
  margin: 0 10px;
  border-radius: 5px;
  color: #70747c;
  outline: none;
  border: 2px solid rgba(118, 214, 127, 0.359);
}
.pagination-div>ul>li>a:hover{
  border: 2px solid rgba(118, 214, 127, 0.831);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #4d4d4d;
}
.active-page{
  background-color: rgba(118, 214, 127, 0.831);
  color: rgb(255, 255, 255);
}