{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home_page' %}">
            <img src="{% static 'img/hospital_logo.png' %}" alt="Bootstrap" width="30" height="24">
        </a>
        <a class="navbar-brand" href="{% url 'home_page' %}">MedNetz</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home_page' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'patient:patient_home_page' page=1 %}">Patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'static_pages' page_name='about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'static_pages' page_name='contact' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'static_pages' page_name='services' %}">Services</a>
                </li>
            </ul>
            <form method="POST" action="{% url 'patient:patient_home_page' page=1 %}" class="d-flex" role="search">
                {% csrf_token %}
                <input class="form-control me-2" name="user_search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" name="search_btn" type="submit">Search</button>
            </form>
            {% if request.session.emp_id %}
                <span class="ms-2"><b>Dr. {{request.session.emp_name}}</b></span>
                <a class="btn btn-outline-danger ms-2" href="{% url 'patient:logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-outline-primary ms-2" href="{% url 'patient:signup' %}">Signup</a>
                <a class="btn btn-outline-success ms-2" href="{% url 'patient:login' %}">Login</a>
            {% endif %}
            </div>
    </div>
</nav>