<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav_foot.css' %}">
    <title>Sign Up</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="mr-5 ml-5 p-3">
        <h1 class="text-center text-dark m-3">Sign Up</h1>
    <form method="POST" action="{% url 'patient:signup' %}" class="ml-5 pl-5 mr-5 pr-5">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label for="exampleInputEmail1">Full Name</label>
                <input type="text" class="form-control" name="full_name" placeholder="First name">
            </div>
            <div class="col form-group">
                <label for="exampleFormControlSelect1">Designation</label>
                <select name="designation" class="form-control" id="exampleFormControlSelect1">
                    <option selected>Select</option>
                    <option value="doctor">Doctor</option>
                    <option value="nurse">Nurse</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input name="confirm_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" name="signup" class="btn btn-primary w-100"><b>Sign Up</b></button>
    </form>
    </div>

    {% include 'footer.html' %}
</body>
</html>